In [1]:
# import pandas and load the first sheet "Hydro consumption"
import pandas as pd
Hydro_consumption = pd.read_excel("C:/Users/pc/Desktop/+++/2ème année Génie Chimique/S3/Raffinage du pétrole (4)/séminaire/sources utilisées/done/bp-stats-review-2022-all-data.xlsx", sheet_name='Hydro Consumption - EJ', header=None)

In [2]:
Hydro_consumption.head(10)

,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,60
0,Hydroelectricity: Consumption*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Growth rate per annum,NaN,Share
2,Exajoules (input-equivalent),1965.000000,1966.000000,1967.000000,1968.000000,1969.000000,1970.000000,1971.000000,1972.000000,1973.000000,...,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2020.000000,2021.000000,2021,2011-21,2021
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Canada,1.257066,1.394516,1.425643,1.449871,1.603566,1.683394,1.729424,1.933576,2.072123,...,3.705249,3.714542,3.780402,3.675493,3.622810,3.654642,3.587586,-0.015659,-0.003922,0.089111
5,Mexico,0.094348,0.107708,0.117278,0.134576,0.142709,0.159731,0.155121,0.165330,0.174272,...,0.299484,0.295841,0.305121,0.309413,0.224029,0.254663,0.327083,0.287895,-0.0096,0.008124
6,US,2.118111,2.128361,2.418802,2.428744,2.725465,2.698467,2.898188,2.966977,2.961619,...,2.389289,2.541979,2.843597,2.757516,2.708946,2.673588,2.427450,-0.089575,-0.025385,0.060295
7,Total North America,3.469525,3.630584,3.961723,4.013191,4.471740,4.541592,4.782733,5.065883,5.208014,...,6.394023,6.552361,6.929120,6.742421,6.555784,6.582893,6.342119,-0.033936,-0.013028,0.157531
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Argentina,0.013042,0.013210,0.013527,0.015943,0.014299,0.016576,0.016459,0.015996,0.031908,...,0.313502,0.286738,0.302694,0.307442,0.261004,0.223785,0.184610,-0.172798,-0.050427,0.004585

In [3]:
print(Hydro_consumption.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123 entries, 0 to 122
Data columns (total 61 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       113 non-null    object
 1   1       104 non-null    float64
 2   2       104 non-null    float64
 3   3       104 non-null    float64
 4   4       104 non-null    float64
 5   5       104 non-null    float64
 6   6       104 non-null    float64
 7   7       104 non-null    float64
 8   8       104 non-null    float64
 9   9       104 non-null    float64
 10  10      104 non-null    float64
 11  11      105 non-null    object
 12  12      104 non-null    float64
 13  13      104 non-null    float64
 14  14      104 non-null    float64
 15  15      104 non-null    float64
 16  16      104 non-null    float64
 17  17      104 non-null    float64
 18  18      104 non-null    float64
 19  19      104 non-null    float64
 20  20      104 non-null    float64
 21  21      104 non-null    float64
 22  22      104 non-null    float64
 23  23      104 non-null    float64
 24  24      104 non-null    float64
 25  25      104 non-null    float64
 26  26      104 non-null    float64
 27  27      104 non-null    float64
 28  28      104 non-null    float64
 29  29      104 non-null    float64
 30  30      104 non-null    float64
 31  31      104 non-null    float64
 32  32      104 non-null    float64
 33  33      104 non-null    float64
 34  34      104 non-null    float64
 35  35      104 non-null    float64
 36  36      104 non-null    float64
 37  37      104 non-null    float64
 38  38      104 non-null    float64
 39  39      104 non-null    float64
 40  40      104 non-null    float64
 41  41      104 non-null    float64
 42  42      104 non-null    float64
 43  43      104 non-null    float64
 44  44      104 non-null    float64
 45  45      104 non-null    float64
 46  46      104 non-null    float64
 47  47      104 non-null    float64
 48  48      104 non-null    float64
 49  49      104 non-null    float64
 50  50      104 non-null    float64
 51  51      104 non-null    float64
 52  52      104 non-null    float64
 53  53      104 non-null    float64
 54  54      104 non-null    float64
 55  55      104 non-null    float64
 56  56      104 non-null    float64
 57  57      104 non-null    float64
 58  58      105 non-null    object
 59  59      104 non-null    object
 60  60      105 non-null    object
dtypes: float64(56), object(5)
memory usage: 58.7+ KB
None

In [4]:
print(Hydro_consumption.describe())

                1            2            3            4            5   \
count   104.000000   104.000000   104.000000   104.000000   104.000000
mean     19.293895    19.330238    19.347985    19.379973    19.414737
std     192.649144   192.745148   192.842667   192.938992   193.035251
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000168     0.000168     0.000200     0.000168     0.000168
50%       0.013738     0.016037     0.017916     0.017229     0.020726
75%       0.117213     0.127546     0.135935     0.145905     0.150313
max    1965.000000  1966.000000  1967.000000  1968.000000  1969.000000

                6            7            8            9            10  ...  \
count   104.000000   104.000000   104.000000   104.000000   104.000000  ...
mean     19.447269    19.478265    19.512564    19.529573    19.593679  ...
std     193.131580   193.228157   193.324503   193.422033   193.516468  ...
min       0.000000     0.000000     0.000000     0.000000     0.000000  ...
25%       0.000192     0.000453     0.000487     0.000469     0.000250  ...
50%       0.023913     0.022451     0.022898     0.026315     0.025575  ...
75%       0.169558     0.160316     0.170005     0.177821     0.199745  ...
max    1970.000000  1971.000000  1972.000000  1973.000000  1974.000000  ...

                48           49           50           51           52  \
count   104.000000   104.000000   104.000000   104.000000   104.000000
mean     20.760199    20.819951    20.858775    20.852252    20.903664
std     197.206621   197.303665   197.402371   197.501435   197.598954
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.014644     0.015308     0.015146     0.012198     0.012803
50%       0.112591     0.128037     0.130501     0.130566     0.150077
75%       0.485741     0.553995     0.542429     0.504253     0.578788
max    2012.000000  2013.000000  2014.000000  2015.000000  2016.000000

                53           54           55           56           57
count   104.000000   104.000000   104.000000   104.000000   104.000000
mean     20.920798    20.967642    20.986835    21.034657    21.012329
std     197.697499   197.794776   197.893617   197.991383   198.089772
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.011508     0.014411     0.011748     0.009790     0.012906
50%       0.132014     0.121880     0.130396     0.138626     0.139036
75%       0.551370     0.558119     0.520354     0.533237     0.530000
max    2017.000000  2018.000000  2019.000000  2020.000000  2021.000000

[8 rows x 56 columns]

In [ ]:
print(Hydro_consumption.isnull().sum())

0     10
1     19
2     19
3     19
4     19
      ..
56    19
57    19
58    18
59    19
60    18
Length: 61, dtype: int64

In [ ]:
#Dropping the empty rows using dropna()
Hydro_cons = Hydro_consumption.dropna()
Hydro_cons.head(10)

,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,60
2,Exajoules (input-equivalent),1965.000000,1966.000000,1967.000000,1968.000000,1969.000000,1970.000000,1971.000000,1972.000000,1973.000000,...,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2020.000000,2021.000000,2021,2011-21,2021
4,Canada,1.257066,1.394516,1.425643,1.449871,1.603566,1.683394,1.729424,1.933576,2.072123,...,3.705249,3.714542,3.780402,3.675493,3.622810,3.654642,3.587586,-0.015659,-0.003922,0.089111
5,Mexico,0.094348,0.107708,0.117278,0.134576,0.142709,0.159731,0.155121,0.165330,0.174272,...,0.299484,0.295841,0.305121,0.309413,0.224029,0.254663,0.327083,0.287895,-0.0096,0.008124
6,US,2.118111,2.128361,2.418802,2.428744,2.725465,2.698467,2.898188,2.966977,2.961619,...,2.389289,2.541979,2.843597,2.757516,2.708946,2.673588,2.427450,-0.089575,-0.025385,0.060295
7,Total North America,3.469525,3.630584,3.961723,4.013191,4.471740,4.541592,4.782733,5.065883,5.208014,...,6.394023,6.552361,6.929120,6.742421,6.555784,6.582893,6.342119,-0.033936,-0.013028,0.157531
9,Argentina,0.013042,0.013210,0.013527,0.015943,0.014299,0.016576,0.016459,0.015996,0.031908,...,0.313502,0.286738,0.302694,0.307442,0.261004,0.223785,0.184610,-0.172798,-0.050427,0.004585
10,Brazil,0.271611,0.297064,0.310722,0.325210,0.348012,0.423688,0.459860,0.539507,0.616248,...,3.487599,3.670966,3.553523,3.704801,3.775655,3.747642,3.417763,-0.085524,-0.021646,0.084893
11,Chile,0.042091,0.044369,0.045295,0.037950,0.042836,0.045849,0.051193,0.060997,0.059560,...,0.229003,0.189766,0.204314,0.222560,0.203458,0.205364,0.155741,-0.239553,-0.026482,0.003868
12,Colombia,0.037726,0.041912,0.046724,0.052066,0.057888,0.064432,0.068378,0.075741,0.082429,...,0.433178,0.450911,0.549237,0.539581,0.516580,0.471194,0.563866,0.199954,0.016034,0.014006
13,Ecuador,0.002651,0.003034,0.003343,0.003492,0.003875,0.004311,0.004684,0.004737,0.004631,...,0.126964,0.152596,0.192462,0.196950,0.234052,0.230062,0.240914,0.050037,0.080997,0.005984

In [ ]:
print(Hydro_cons.isnull().sum())

0     0
1     0
2     0
3     0
4     0
     ..
56    0
57    0
58    0
59    0
60    0
Length: 61, dtype: int64

In [ ]:
#Setting the first row as the columns header and then dropping that row 
Hydro_cons.columns = Hydro_cons.iloc[0]
Hydro_cons.reset_index(drop=True, inplace=True)
Hydro_cons = Hydro_cons.drop(axis=1, index=0)
Hydro_cons.head(15)

2,Exajoules (input-equivalent),1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2021,2011-21,2021
1,Canada,1.257066,1.394516,1.425643,1.449871,1.603566,1.683394,1.729424,1.933576,2.072123,...,3.705249,3.714542,3.780402,3.675493,3.622810,3.654642,3.587586,-0.015659,-0.003922,0.089111
2,Mexico,0.094348,0.107708,0.117278,0.134576,0.142709,0.159731,0.155121,0.165330,0.174272,...,0.299484,0.295841,0.305121,0.309413,0.224029,0.254663,0.327083,0.287895,-0.0096,0.008124
3,US,2.118111,2.128361,2.418802,2.428744,2.725465,2.698467,2.898188,2.966977,2.961619,...,2.389289,2.541979,2.843597,2.757516,2.708946,2.673588,2.427450,-0.089575,-0.025385,0.060295
4,Total North America,3.469525,3.630584,3.961723,4.013191,4.471740,4.541592,4.782733,5.065883,5.208014,...,6.394023,6.552361,6.929120,6.742421,6.555784,6.582893,6.342119,-0.033936,-0.013028,0.157531
5,Argentina,0.013042,0.013210,0.013527,0.015943,0.014299,0.016576,0.016459,0.015996,0.031908,...,0.313502,0.286738,0.302694,0.307442,0.261004,0.223785,0.184610,-0.172798,-0.050427,0.004585
6,Brazil,0.271611,0.297064,0.310722,0.325210,0.348012,0.423688,0.459860,0.539507,0.616248,...,3.487599,3.670966,3.553523,3.704801,3.775655,3.747642,3.417763,-0.085524,-0.021646,0.084893
7,Chile,0.042091,0.044369,0.045295,0.037950,0.042836,0.045849,0.051193,0.060997,0.059560,...,0.229003,0.189766,0.204314,0.222560,0.203458,0.205364,0.155741,-0.239553,-0.026482,0.003868
8,Colombia,0.037726,0.041912,0.046724,0.052066,0.057888,0.064432,0.068378,0.075741,0.082429,...,0.433178,0.450911,0.549237,0.539581,0.516580,0.471194,0.563866,0.199954,0.016034,0.014006
9,Ecuador,0.002651,0.003034,0.003343,0.003492,0.003875,0.004311,0.004684,0.004737,0.004631,...,0.126964,0.152596,0.192462,0.196950,0.234052,0.230062,0.240914,0.050037,0.080997,0.005984
10,Peru,0.027944,0.030094,0.033724,0.036194,0.039398,0.037641,0.045625,0.047211,0.050767,...,0.229639,0.232607,0.278553,0.292762,0.298560,0.288423,0.300923,0.046197,0.034633,0.007475
11,Trinidad & Tobago,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-,-,0
12,Venezuela,0.014573,0.014850,0.017415,0.029253,0.033958,0.043688,0.057377,0.064084,0.066266,...,0.724910,0.604801,0.670985,0.553861,0.471028,0.579361,0.576709,-0.001851,-0.035267,0.014325
13,Central America,0.014435,0.015893,0.017948,0.019853,0.021982,0.024917,0.024749,0.026346,0.028069,...,0.218043,0.220561,0.260876,0.256677,0.204821,0.254635,0.281390,0.1081,0.030525,0.006989
14,Other Caribbean,0.003885,0.004396,0.003428,0.003524,0.003747,0.004460,0.009815,0.009889,0.009102,...,0.013211,0.018448,0.025883,0.023188,0.015492,0.016822,0.018731,0.116489,-0.012744,0.000465
15,Other South America,0.011715,0.024868,0.025875,0.027369,0.028563,0.033188,0.039676,0.035769,0.041124,...,0.653750,0.718511,0.679560,0.665917,0.589921,0.518196,0.477262,-0.076471,-0.034052,0.011855

In [ ]:
#dropping the last 3 columns which have calculated data that and is't part of the yearly energy consumption
Hydro_cons = Hydro_cons.iloc[:, :-3]
Hydro_cons.columns

Index(['Exajoules (input-equivalent)',                         1965.0,
                               1966.0,                         1967.0,
                               1968.0,                         1969.0,
                               1970.0,                         1971.0,
                               1972.0,                         1973.0,
                               1974.0,                           1975,
                               1976.0,                         1977.0,
                               1978.0,                         1979.0,
                               1980.0,                         1981.0,
                               1982.0,                         1983.0,
                               1984.0,                         1985.0,
                               1986.0,                         1987.0,
                               1988.0,                         1989.0,
                               1990.0,                         1991.0,
                               1992.0,                         1993.0,
                               1994.0,                         1995.0,
                               1996.0,                         1997.0,
                               1998.0,                         1999.0,
                               2000.0,                         2001.0,
                               2002.0,                         2003.0,
                               2004.0,                         2005.0,
                               2006.0,                         2007.0,
                               2008.0,                         2009.0,
                               2010.0,                         2011.0,
                               2012.0,                         2013.0,
                               2014.0,                         2015.0,
                               2016.0,                         2017.0,
                               2018.0,                         2019.0,
                               2020.0,                         2021.0],
      dtype='object', name=2)

In [ ]:
#Changing the first column's name to "Country"
Hydro_cons.rename(columns={"Exajoules (input-equivalent)": "Country"}, inplace=True)
Hydro_cons.columns

Index(['Country',    1965.0,    1966.0,    1967.0,    1968.0,    1969.0,
          1970.0,    1971.0,    1972.0,    1973.0,    1974.0,      1975,
          1976.0,    1977.0,    1978.0,    1979.0,    1980.0,    1981.0,
          1982.0,    1983.0,    1984.0,    1985.0,    1986.0,    1987.0,
          1988.0,    1989.0,    1990.0,    1991.0,    1992.0,    1993.0,
          1994.0,    1995.0,    1996.0,    1997.0,    1998.0,    1999.0,
          2000.0,    2001.0,    2002.0,    2003.0,    2004.0,    2005.0,
          2006.0,    2007.0,    2008.0,    2009.0,    2010.0,    2011.0,
          2012.0,    2013.0,    2014.0,    2015.0,    2016.0,    2017.0,
          2018.0,    2019.0,    2020.0,    2021.0],
      dtype='object', name=2)

In [11]:
#Changing the type of the years column headers from float to integer
Hydro_cons.columns = [int(col) if isinstance(col, float) else col for col in Hydro_cons.columns]
Hydro_cons.columns

Index(['Country',      1965,      1966,      1967,      1968,      1969,
            1970,      1971,      1972,      1973,      1974,      1975,
            1976,      1977,      1978,      1979,      1980,      1981,
            1982,      1983,      1984,      1985,      1986,      1987,
            1988,      1989,      1990,      1991,      1992,      1993,
            1994,      1995,      1996,      1997,      1998,      1999,
            2000,      2001,      2002,      2003,      2004,      2005,
            2006,      2007,      2008,      2009,      2010,      2011,
            2012,      2013,      2014,      2015,      2016,      2017,
            2018,      2019,      2020,      2021],
      dtype='object')

In [ ]:
cleaned_rows = []
rows = Hydro_cons.reset_index(drop=True)

start_idx = 0

for idx, row in rows.iterrows():
    country = row['Country']
    # When we hit a total row
    if str(country).startswith("Total "):
        region = country.replace("Total ", "").strip()
        # Assign this region to all rows from start_idx to idx - 1
        for j in range(start_idx, idx):
            country_row = rows.iloc[j].copy()
            country_row['Region'] = region
            cleaned_rows.append(country_row)
        start_idx = idx + 1  # move start index to next group

In [13]:
# Create new DataFrame from cleaned list
Hydro_cons = pd.DataFrame(cleaned_rows).reset_index(drop=True)

In [14]:
# Get all year columns (they are usually strings or ints starting from 1965)
year_columns = [col for col in Hydro_cons.columns if isinstance(col, int)]

In [15]:
long_hydro = pd.melt(
    Hydro_cons,
    id_vars=['Country', 'Region'],          # keep country and region
    value_vars=year_columns,                # years become rows
    var_name='Year',                        # new column name for former columns
    value_name='Hydro Consumption (EJ)'    # name for the values
)

In [ ]:
long_hydro.head()

                Country              Region  Year  Hydro Consumption (EJ)
0                Canada       North America  1965                1.257066
1                Mexico       North America  1965                0.094348
2                    US       North America  1965                2.118111
3             Argentina  S. & Cent. America  1965                0.013042
4                Brazil  S. & Cent. America  1965                0.271611
5                 Chile  S. & Cent. America  1965                0.042091
6              Colombia  S. & Cent. America  1965                0.037726
7               Ecuador  S. & Cent. America  1965                0.002651
8                  Peru  S. & Cent. America  1965                0.027944
9     Trinidad & Tobago  S. & Cent. America  1965                0.000000
10            Venezuela  S. & Cent. America  1965                0.014573
11      Central America  S. & Cent. America  1965                0.014435
12      Other Caribbean  S. & Cent. America  1965                0.003885
13  Other South America  S. & Cent. America  1965                0.011715
14              Austria              Europe  1965                0.171206
15              Belgium              Europe  1965                0.002895
16             Bulgaria              Europe  1965                0.021290
17              Croatia              Europe  1965                0.000000
18               Cyprus              Europe  1965                0.000000
19       Czech Republic              Europe  1965                0.023758
20              Denmark              Europe  1965                0.000266
21              Estonia              Europe  1965                0.000000
22              Finland              Europe  1965                0.099570
23               France              Europe  1965                0.499057
24              Germany              Europe  1965                0.172582
25               Greece              Europe  1965                0.008527
26              Hungary              Europe  1965                0.000798

In [17]:
#Save this Dataset 
long_hydro.to_csv('C:/Users/pc/Desktop/Formation Data Analyst/Projet/New Dataset/total_yearly_hydro_consumption.csv', index=False)